@import "../../styles/variables";

.header {
  border-bottom: 1px solid $border3;
  .logo-container{
    padding: 5px 0;
    border-right:1px solid $border3 ;
    img{
      //margin: 25px 15px 25px 20px;
      margin: 8px 1px 12px 13px;
    }
    span{
      font-weight: 600;
      font-size: 18px;
      color: #313435e3;
      line-height: 1!important;
      letter-spacing: .5px;
      font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;

    }
  }
}

.profile-con{
  .img-con{
    width: 32px;
    height: 32px;
    border: 1px solid $border3;
    border-radius: 52%;
    overflow: hidden;
    margin: 0 10px;
  }
  span{
    font-size: .87rem!important;
    color: #313435e3;
  }
 img{
  // border-radius: 45%;
 }
  small{
    color: #aba9a9;
    padding-top: 2px;
    letter-spacing: 0.5px;
  }
}

.logoutLink{
  margin-left: 3px;
  color: #0b75c9;
  cursor: pointer;
}
.menuIcon{
  padding: 5px 10px;
  color: #676363;
  @include font(20 ,600, 25);
}

.sliderMenu{
  z-index: 110;
  position: fixed;
  top: 0;
  background-color: $white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  .navLinks{
    padding: 26px 20px;
    color: $textColor1;
    border-bottom: solid 1px rgba(153, 153, 153, 0.8);
    &:last-child{
      border-bottom: none;
    }
  }
}
.sliderMenu{
  left: 0;
  transform: translateX(-100%);
  &.open{
    transform: translateX(0);
  }
}
.main-menu{
  list-style: none;
  padding: 0;
  color: #72777a;
  font-weight: 600;
  white-space: nowrap;
  .main-menu-li{
    margin: 2px 0;
    padding: 5px;
    //  box-shadow: 0px 4px 6px #e0d9d9;
    a{
      padding: 10px;
      i{
        font-size: 25px;
        color: $orange;
        margin-right: 10px;
      }
      span{
        padding: 0 8px;
        font-size: 0.85rem;
        &:hover{
          color: #343739;
          cursor: pointer;

        }
      }
    }
  }
}

@media screen and (max-width: 769px ) {
  .header{
    .logo-container {
      padding: 5px 0;
      border: none;
      img {
        margin: 8px -3px 9px 3px;
      }
      span {
        font-size: 1rem;
        font-weight: 600;
        color: #6f6f6a;
      }
    }
  }

}
